<%- include('header.ejs'); %>
<form action="/" method="post" class="ui form">
    <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
    </div>
    <button class="ui blue labeled submit icon button">
        <i class="icon edit"></i>Envoyer
    </button>
</form>

<div class="ui comments">
    <h3 class="ui dividing header">Comments</h3>
    <% for (message of messages) { %>
        <div class="comment">
            <a href="" class="avatar">
                <img src="https://banner2.cleanpng.com/20180920/yko/kisspng-computer-icons-portable-network-graphics-avatar-ic-5ba3c66df14d32.3051789815374598219884.jpg" alt="">
            </a>
            <div class="content">
                <div class="metadata">
                    <div class="date">
                        <%= message.created_at.fromNow() %>
                    </div>
                </div>
                <div class="message">
                    <%= message.content %>
                </div>
            </div>
        </div>
    <% } %>
</div>
<%- include('footer.ejs'); %>
